.menu_search{
    width: 308px;
    border-radius: 50px; 
}
.menu_search_bar{
    position: relative;
}
.menu_search_bar i{
    position: absolute;
    right: 0;
    padding: 10px 10px;
    color: rgb(233, 222, 222);
}

.banner_bg_color{
    background-color: #FEEAE9;
}

.buy_now_btn{
    background-color: #ff66a3;
    padding: 5px 15px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;

}


@media only screen and (max-width:768px) {
    .menu_search{
        max-width: 200px;
        border-radius: 50px; 
    }
    
}
  